.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 46%;

  font-size: 20px;

  color: blueviolet;
}

.input {
  margin: 0 auto;
  border-color: rgb(50, 4, 71);
  border-radius: 4px;
  width: 46%;
}